{
  "timerEditTitle": "",

  "timerCreateTitle": "",

  "homeTitle": "",
  
  "timersLoadError": "",
  "timerCreateError": "",
  "timerUpdateError": "",
  "timerDeleteError": "",

  "settingsLoadError": "",
  "updateLocaleError": "",
  
  "settingsTitle": "",
  "languageLabel": "",

  "notificationBody": "",
  "stopSignalButton": "",

  "appTitle": "",
}
