{
  "timerNameDraft": "",
  "timerNameFocus": "",
  "timerNameBreak": "",
  "timerNameLongBreak": "",
  
  "timerEditTitle": "",
  "timerCreateTitle": "",
  "timerNameLabel": "",

  "homeTitle": "",
  
  "timersLoadError": "",
  "timerCreateError": "",
  "timerUpdateError": "",
  "timerDeleteError": "",

  "settingsLoadError": "",
  "updateLocaleError": "",
  
  "settingsTitle": "",
  "languageLabel": "",

  "notificationBody": "",
  "stopSignalButton": "",

  "appTitle": "",
}
