{
  "timersLoadError": "",
  "timerCreateError": "",
  "timerUpdateError": "",
  "timerDeleteError": "",

  "settingsLoadError": "",
  "updateLocaleError": "",
  
  "settingsTitle": "",
  "languageLabel": "",

  "appTitle": "",
  "@appTitle": {
    "description": "The title of the application"
  }
}
